/* Widget background color */ 

@font-face {
font-family: "CustomFont";
url("https://vaclmat.github.io/BookioPro/Hero-Regular.otf") format("opentype"),
	url("https://vaclmat.github.io/BookioPro/Hero New medium.otf") format("opentype"),
	url("https://vaclmat.github.io/BookioPro/Hero New SemiBold.otf") format("opentype");
}

body,
.np-body-bg{
	background-color: #F4BC57;
	font-family: 'Hero New SemiBold';
}

/*
  Definition of: 
  
  1.  header background color 
  2.  Date input background color
  3.  Select box background color 
  4.  Datepicker background color
*/
#header		{
	background-color: #F4BC57;
	font-family: 'Hero New SemiBold';
}		/* 1. */
.np-filed 	{
	background-color: #F7CF85;
	font-family: 'Hero New SemiBold';
}			/* 2. */
.selectWrapper,/* 3. */
.selectOptions{
	background-color: #F7CF85;
	font-family: 'Hero New SemiBold';
} 		/* 3. */
.ui-datepicker  {
	background-color: #F7CF85;
	font-family: 'Hero New SemiBold';
}		/* 4. */
.np-select.active,
.np-select:active,
.np-input{
	background-color: #f7cc84;
	font-family: 'Hero New SemiBold';
	:placeholder {
  color: #666;
		opacity: 1;
}
::-ms-input-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
}


/*
 	Base text style
 	
 	Text color of
 	1. Base paragrapth text
 	2. Link text color
 	3. Alternative times text color (second step
 	4. VOP text color
 	5. Select box options text color
*/
.np-body p 				{
	color: #000000;
	font-family: 'Hero New SemiBold';
}				/* 1. */

.np-link
{
	color: #000000;
	font-family: 'Hero New SemiBold';
}/* 2. */
.np-options a,							/* 5. */
p a.np-link
{
	color: #000000;
	font-family: 'Hero New SemiBold';
}/* 2. */
.np-checkbox-wrapp a,					/* 4. */
.np-options li:not(:first-child):before{
	color: #000000;
	font-family: 'Hero New SemiBold';
}


/*
	Link hover style definition
*/
a.np-link:hover,
.np-options a:hover,
.np-checkbox-wrapp a:hover{
	color: #181411; 
	text-decoration: none;
}


/*
	Datepicker & Header text style
	
	Text color of:
	1. Header text color
	2. Select option text color
	3. Datepicker's dayOfweek lables text color
	4. Datepicker's next/prew arrows color
	5. Datepicker's active days text color
*/
#header { 							
	color: #000000;
	font-family: 'Hero New SemiBold';
}
/* 1. */
.np-select,											/* 2. */
.selectOptions li,                                                /* 2. */
.np-filed,
.ui-datepicker th,									/* 3. */
.ui-datepicker-prev span,.ui-datepicker-next span, 	/* 4. */
.ui-datepicker tbody td a{ 							/* 5. */
	color: #000000;
	font-family: 'Hero New SemiBold';
}

/**
* 	Color of top selectbox arrow (first step)
*/
.np-select:after {
  border-color: #000000 transparent transparent transparent; 
}

/**
* 	Color of bottom selectbox arrow (first step)
*/
.np-select:before{
  border-color:transparent transparent #000000 transparent ;
}


/* Select box options separator */
.selectOptions li{
	border-bottom:1px solid #000000;
}
.selectOptions li:hover {
	color: #000000;
	background: #F7F7F7;
}


/**
* 	Datepicker style
*/
.ui-datepicker-header,
.ui-datepicker-title{ 
	color: #000000; 	
}

/*
	Datepicker's disabled days
*/
.ui-datepicker-unselectable span{
	color: #F4BC57 !important; 
}
.ui-datepicker-calendar .ui-state-active {
	color: #F4BC57;
}
.ui-datepicker tbody td a{
	border-bottom: 1px solid #000000 !important; 
}

.ui-datepicker-today a{
	background-color: #F4BC57;
}
.ui-datepicker-today .ui-state-active{
	color: #F4BC57;
}


/**
* Widget button style
*/
.np-button{
	background-color: #181411; 
	color: #F4BC57; 
	border-radius: 5px;
	font-family: 'Hero New SemiBold';
	
	
}
.np-button:hover{
 	background-color: #F4BC57; /* background-color: darken(@buttonColor, 15%);*/
	color: #181411;
	border: solid 1px;
	border-color:  #181411;
	border-radius: 5px;
	
}

/*
	Style definition of sub-header box (second/third/fourth step)
*/
.np-label-box{
	color: #F4BC57;
	background-color: #181411; 
	font-family: 'Hero New SemiBold';
}

/*
	Small triangle situated bottom of sub-header
	Same color like: .np-label-box{ background-color: }.
*/
.np-label-box .np-triangle{
    border-color: #181411 transparent transparent transparent;
    _border-color: #181411 #000000 #000000 #000000;

}

/*
* Style definition of alternatives times. (Second step of booking)  
*/
.np-alternatives li{
    border-color: #181411; 
    color: #F4BC57;
}
.np-alternatives li:hover{
    background-color: #181411; 
    color: #F4BC57;
}

/*
	Inactive input fields in third step.
*/
.np-disabled {
	color: #181411;
	
}
.np-disabled .np-input,
.np-alternatives .np-disabled, 
.np-alternatives .np-disabled:hover{
	border-color: #fff !important;
	color: #fff !important;
}


/*
	Border color of input fields in third step of booking
*/
.np-input-wrapp{
  border-bottom: 1px solid #181411;
	color: #181411;
	
}


/*
	Background color of circle situated in Google Map
*/
.np-gmap-ico{
	background-color: #181411;
}

.np-text-before{
	border-top: #181411; 
}
